.App {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.table {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.AppLeft {
  display: flex;
  justify-content: left;
  margin: 2rem;
  padding: 2rem;
}
.addProduct {
  display: flex;
  justify-content: center;
  margin: 3rem;
  /* padding: 2rem; */
}
.MuiToggleButton-root {
    color: #5a0303;
  }
.toggle {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 2rem;
  font-size: 1.1em;
  font-weight: 500;
  margin: 2rem;
}
/* button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
} */
button:hover {
  background-color: #c5c5c5;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}
